<div id="<%= comment.id %>">
  <small>Posted <%= comment.created_at %></small>
  <p><%= comment.text %></p>
  <div>
    <% if current_user == comment.user %>
      <%= link_to "Edit", edit_user_advert_comment_path(current_user, comment.advert, comment) %>
    <% end %>
    <% if (current_user == comment.user) || current_user.admin? %>
      <%= link_to "Delete", user_advert_comment_path(current_user, comment.advert, comment), method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
